@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AWWW_lab1_gr1_Kulesza.Models.Student

<h1>Student numer @Model.Id</h1>

<p>
    Imie: @Model.Imie <br />
    Nazwisko: @Model.Nazwisko <br />
    Numer Indeksu: @Model.NumerIndeksu <br />
    Data urodzenia: @Model.DataUrodzenia <br />
    Kierunek studiów: @Model.KierunekStudiow <br />
</p>